spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=my_portfolio_db;encrypt=true;trustServerCertificate=true;
    username: sa
    password: sa03020307
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: vuhau03022k6@gmail.com
    password: yiftgkspwmmsrtte
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

jwt:
  secret: Sksksksksksksksksksksksksksksksksksksksksksksksk
  expiration: 86400000
file:
  upload-dir: uploads
